/* Set box sizing to 'border-box' for all elements */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $colorGrayUltraLight;
	font-family: $fontFamily;
}

.user-image {
	width: 40px;
	height: 40px;
	border-radius: 999px;
	background-size: cover;
	background-position: center center;
}

.page-container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.top-header {
	color: white;
	background-color: $colorPrimary;
	padding: 20px 20px;
	padding-bottom: 120px;
	display: flex;

	h2 {
		font-size: 30px;
	}
}

md-spinner {
	width: 40px !important;
	height: 40px !important;
	display: block;
	margin: 30px auto;

	svg {
		stroke: $colorPrimary;
	}
}

md-card {
	background-color: white;
}


.app-action {
	display: inline-block;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

// Upload forms
hlth-add-entry {
	position: relative;
	top: -100px;
}

.file-drop-zone {
	border: 3px dashed $colorGrayUltraLight;
	padding: 2em;

	&.file-dropping {
		border-color: $colorPrimary;
	}
}


// Entry List
hlth-entry-list {
	position: relative;
	top: -100px;
}

.entry {
	margin-bottom: 20px;

	md-spinner {
		width: 20px !important;
		height: 20px !important;
	}
}
