/* Set box sizing to 'border-box' for all elements */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $colorGrayUltraLight;
	font-family: $fontFamily;
}

textarea {
	display: block;
	width: 100%;
	min-height: 10em;
	margin: 1em 0;
	border: 0;
	border-bottom: 2px solid $colorPrimary;
	resize: vertical;
}

.toplink {
	color: #fff;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.user-image {
	width: 40px;
	height: 40px;
	border-radius: 999px;
	background-size: cover;
	background-position: center center;
}

.page-container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.top-header {
	color: white;
	background-color: $colorPrimary;
	padding: 20px 20px;
	padding-bottom: 120px;

	h2 {
		font-size: 30px;
	}

	.top-header__inner {
		display: flex;

		.image-wrapper {
			margin-left: auto;
			display: flex;
			align-items: center;

			.user-image {
				margin-right: 10px;
			}
		}
	}
}

md-spinner {
	width: 40px !important;
	height: 40px !important;
	display: block;
	margin: 30px auto;

	svg {
		stroke: $colorPrimary;
	}
}

md-card {
	background-color: white;
}


.app-action {
	display: inline-block;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

// Upload forms
hl-add-entry {
	position: relative;
	top: -100px;
}

.file-drop-zone {
	margin: 2em 0;
	padding: 2em;
	border: 2px dashed $colorGrayMedium;
	color: $colorGrayMedium;
	text-align: center;

	&.file-dropping {
		border-color: $colorPrimary;
	}
}

.file-upload-zone {
	margin: 2em 0;
	padding: 2em;
}


// Entry List
hl-entry-list {
	position: relative;
	top: -100px;
}

.entry {
	margin-bottom: 20px;

	md-spinner {
		width: 20px !important;
		height: 20px !important;
	}

	.header {
		display: flex;
		justify-content: space-between;
	}
}

.author,
.date {
	color: $colorGrayMedium;
	padding: .5em;
	font-size: .8em;
}

.date {
	text-transform: uppercase;
}
