// Entry List
hl-entry-list {
	position: relative;
	top: -100px;
}

.no-entry {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 10em;
	color: $colorGrayMedium;
	text-transform: uppercase;
}

.entry {
	margin-bottom: 20px;
	padding-bottom: 10px !important;

	md-spinner {
		width: 20px !important;
		height: 20px !important;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.author,
		.date {
			color: $colorGrayMedium;
			font-size: .8em;
		}

		.user-image {
			width: 25px;
			height: 25px;
			margin-right: .5em;
		}
	}

	.pending-wrapper {
		align-items: center;
		text-align: center;
		md-spinner {
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
		}

		small {
			color: $colorGrayMedium;
			font-size: 12px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.text-highlight {
		background-color: #e8ff66;
		font-style: normal;
	}

	.footer {
		padding-top: .5em;
		text-align: right;
	}


	.more-details {
		display: flex;
		margin-bottom: 20px;

		.column {
			width: 50%;

			p {
				margin: 0;
			}

			h4 {
				text-transform: uppercase;
				margin-bottom: 8px;
				color: $colorGrayMedium;
				font-size: 14px;
			}
		}

		@media(max-width: 800px) {
			display: block;

			.column {
				width: 100%;
			}
		}
	}
}
