.top-header {
	color: white;
	background-color: $colorPrimary;
	padding: 20px 20px;
	padding-bottom: 120px;

	.logo {
		width: 80px;
		height: 40px;
		margin-right: 15px;
	}

	h2 {
		font-size: 30px;
	}


	.toplink {
		display: flex;
		width: 100%;
		align-items: center;
		text-transform: uppercase;
		font-size: 18px;

		span {
			position: relative;
			top: 3px;
		}
	}


	.top-header__inner {
		display: flex;

		@media(max-width: 800px) {
			display: block;

			h2 {
				font-size: 26px;
				margin-top: 0;
				margin-bottom: 10px;
			}
		}
	}
}
