<div class="page-container">

	<md-card>
		<h3>Add a health entry</h3>

		<md-tab-group>
			<md-tab>
				<template md-tab-label>
					Upload image
				</template>
				<template md-tab-content>
					<p>Please upload your medical reports here, if you have it as an image (accepted formats: PNG, JPG).</p>
					<div class="file-upload-zone">
						<input type="file" ng2FileSelect [uploader]="uploader" [disabled]="uploader.getNotUploadedItems().length" color="secondary" />
					</div>

					<!--
					<table class="table">
						<thead>
						<tr>
							<th width="50%">Name</th>
							<th>Size</th>
							<th>Progress</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let item of uploader.queue">
							<td><strong>{{ item?.file?.name }}</strong></td>
							<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
							<td *ngIf="uploader.isHTML5">
								<div class="progress" style="margin-bottom: 0;">
									<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
								</div>
							</td>
							<td class="text-center">
								<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
								<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
								<span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
							</td>
							<td nowrap>
								<button type="button" class="btn btn-success btn-xs"
										(click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
									<span class="glyphicon glyphicon-upload"></span> Upload
								</button>
								<button type="button" class="btn btn-warning btn-xs"
										(click)="item.cancel()" [disabled]="!item.isUploading">
									<span class="glyphicon glyphicon-ban-circle"></span> Cancel
								</button>
								<button type="button" class="btn btn-danger btn-xs"
										(click)="item.remove()">
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button>
							</td>
						</tr>
						</tbody>
					</table>
					-->

					<md-progress-bar
						class="app-progress"
						color="accent"
						mode="determinate"
						[value]="uploader.progress"
						aria-label="Determinate progress-bar example"></md-progress-bar>

					<br>

					<button md-raised-button color="accent" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload image file</button>
				</template>
			</md-tab>
			<md-tab>
				<template md-tab-label>
					Text input
				</template>
				<template md-tab-content>
					<p>Please fill in your medical report here, if you have it available in plain text.</p>
					<textarea [(ngModel)]="text"></textarea>
					<md-spinner *ngIf="loading"></md-spinner>
					<p *ngIf="textResponseStatus">{{ textResponseStatus }}</p>
					<button md-raised-button color="accent" (click)="sendTextUpload()" [disabled]="loading || !text">Upload text</button>
				</template>
			</md-tab>
		</md-tab-group>
	</md-card>
</div>
