<div class="page-container">
	<md-spinner *ngIf="loading"></md-spinner>

	<md-card *ngFor="let entry of entries" class="entry">
		<div class="header">
			<span class="date">{{ entry.date | date }}</span>
			<div class="image-wrapper">
				<hl-user-image [user]="entry.author"></hl-user-image>
				<span class="author">{{ entry.author.name }}</span>
			</div>
		</div>
		<div *ngIf="entry.status == 'pending'">
			<md-spinner></md-spinner>
			<small>Processing</small>
		</div>

		<button md-button *ngIf="entry.status == 'done'">More details</button>
	</md-card>
</div>
