<div class="page-container">
	<md-spinner *ngIf="loading"></md-spinner>

	<md-card *ngFor="let entry of entries" class="entry">
		<div class="header">
			<span class="date">{{ entry.date | date }}</span>
			<div class="image-wrapper">
				<hl-user-image [user]="entry.author"></hl-user-image>
				<span class="author">{{ entry.author.name }}</span>
			</div>
		</div>
		<div *ngIf="entry.status == 'pending'">
			<md-spinner></md-spinner>
			<small>Processing</small>
		</div>

		<div *ngIf="entry.data.length">
			<h3>Findings</h3>

			<ul class="finding-list">
				<li class="finding" *ngFor="let item of entry.data">
					<md-icon svgSrc="/assets/images/{{ item.status }}.svg"></md-icon>
					<div>
						<p>{{ item.text }}</p>
						<!--<a class="standard-link" href="{{ item.link }}" *ngIf="item.icd10">{{ item.icd10.id }}</a>-->
					</div>
				</li>
			</ul>
		</div>

		<div class="footer">
			<button md-button color="accent" *ngIf="entry.status == 'done'" (click)="toggleDetails()">{{ !showDetails ? 'More details' : 'Less details' }}</button>
		</div>

		<div class="more-details" *ngIf="showDetails">
			<div class="column">
				<h4>Original</h4>
				<p [innerHTML]="getFormattedText(entry)"></p>
			</div>
			<div class="column">
				<img src="{{ entry.image_url }}" alt="" *ngIf="entry.image_url">
			</div>
		</div>
	</md-card>
</div>
